/*
картинки-заглушки
https://via.placeholder.com/150x100
*/

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100%;
}

.page-body {
  min-height: 100%;
  font-size: 18px;
  font-family: CurseCasual, Arial, Helvetica, sans-serif;
  background-color: #2c7580;
  color: #ccc;
  touch-action: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  outline: 4px solid black;
  outline-offset: -4px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  padding: 10px;

  border: 10px groove gray;
}

.background {
  position: relative;
  display: flex;
  width: 300px;
  height: auto;
}

.background__label {
  position: absolute;
  padding: 2px 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;

  pointer-events: none;
}

.background img {
  width: 300px;
  height: auto;
}

